body{
   font-family: "Montserrat";
   font-weight: 900;
   color: #0F0F0F;
   font-size: 20px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.none{
  display: none !important;
}
.container{
  max-width: 1720px;
  padding: 0 10px;
  margin: 0 auto;
}

